{% extends 'base.html' %}
{% load static %}
{% block links %}
  <link rel="stylesheet" href="{% static 'produtos/styles.css' %}">
{% endblock  %}
{% block content %}
<section>
  <div>
    <img src="{{object.imagem.url}}" alt="">
    <div class="produto-info">
      <h1> {{object.nome}} </h1>
      <h2> POR: R$ {{object.preco}} </h2>
      <p> {{object.descricao}} </p>
      <form method="POST">
      {% csrf_token %}
      <button class="btn" type="submit">COMPRAR</button>
    </div>
  </div>
</section>
{% endblock  %}
