{% extends 'base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'home/styles.css' %}">
{% endblock links %}
{% block content %}
<div class="container-principal">
  <div class="banner">
    <h1>BEM VINDO</h1>
    <h2>Mesa a posta com amor e carinho faz toda a diferença</h2>
    <a href=""><p>Nossos produtos</p></a>
  </div>
  <div class="produtos">
      {% for produto in produtos|slice:":3" %}
          <div class="produto">
              <a href="produtos/{{produto.id}}"><img src="{{produto.imagem.url}}" alt=""></a>
              <p>{{produto.nome|title}}</p>
          </div>
      {% endfor %}
  </div>
</div>
<script src="{% static 'home/script.js' %}"></script>
{% endblock  %}