<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="">
        <h1>Login</h1>
        <form method="POST">
          {% csrf_token %}
          {{ login_form}}
          <button class="btn" type="submit">Login</button>
        </form>
        <p class="">Don't have an account? <a <a href="{% url 'cadastro' %}">Cadastro</a>Create an account</a>.</p>
      </div>
</body>
</html>